/*  your css code here. If applicable */
body{
	background-color: #f5f5f5 ;
	
}
.text{
	color: white;
	background-color: #011e29;
	text-align: center;
	
	
    
	
}
.container2 > img{
	width:120px;
	background-color:white;
}
.text1{
	background-color: white;
	width:170px;
	height:150px;
	border-radius:10px;
	text-align:center;
	padding-top: 10px;
	
	
	
}
.container{
	background-color: white;
	width:200px;
	height:200px;
	border-radius:10px;
	text-align: center;
	padding:15px;
	

}
.container2{
	background-color: white;
	width:150px;
	height:300px;
	border-radius:10px;
	text-align: center;
	padding-top:10px
}
p{
	font-size:15px
}

.web{
	display:flex;
	gap:5px;
	margin: 15px;
	
}