/*  your css code here. If applicable */
body{
	background-color: #f5f5f5 ;
}
.text{
	color: white;
	background-color: #011e29;
	text-align: center;
	padding:5px;	
    
	
}
.text1{
	background-color: white;
	width:200px;
	height:100px;
	border-radius:10px;
	text-align:center;
	padding-top: 15px;
	padding-bottom:50px;
	
	
}
.container{
	background-color: white;
	width:200px;
	height:200px;
	border-radius:10px;
	text-align: center;
	padding:15px;
	font-size:10px

}
.container2{
	background-color: white;
	width:200px;
	height:200px;
	border-radius:10px;
	text-align: center;
}


.web{
	display:flex;
	gap:5px;
	margin: 15px
}